{
	margin:0;
	padding:0;
}
header, footer, aside, nav, article{
	display:block;
}

body{
	margin:0 auto;
	width:940px;
	font:13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
	text-align:justify;
	}

h2{
	font-size:28px;
	line-height:44px;
	padding:22px 0;
}

h3{
	font-size:18px;
	line-height:22px;
	padding:11px 0;
}

p{
	padding-bottom:22px;
}

nav{
	position:absolute;
	left:0;
	width:100%;
	background:url("../img/nav_background.png");
}

nav ul{
	margin:0 auto;
	width:940px;
	list-style:none;
}

nav ul li{
	float:left;
}

nav ul li a{
	display:block;
	margin-right:20px;
	width:140px;
	font-size:14px;
	line-height:44px;
	text-align:center;
	text-decoration:none;
	color:#777;
}

nav ul li a:hover{
	color:#fff;
}

nav ul li.selected a{
	color:#fff;
}

nav ul li.subscribir a{
	margin-left:22px;
	padding-left:33px;
	text-align:left;
	background:url("../img/rss.png")left center no-repeat;
}

#intro{
	margin-top:66px;
	padding:22px;
	background:#467612 url("../img/intro_background.png") repeat-x;
	/*background-size:100%;
	border-radius:22px;*/
	/*Background-size not implemented yet*/
	-webkit-background-size:100%;
	-o-background-size:100%;
	-khtml-background-size:100%;
	
	/*Border-radius not implemented yet*/
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	overflow:auto;
	
}

#intro h2, #intro p{
	position:relative;
	z-index:9999;
	width:336px;
	}

#intro h2{
	padding: 0 0 22px 0;
	font-weight:normal;
	color:#fff;
	}
	
#intro p{
	position:absolute;
	padding: 0;
	color:#d9f499;
}

#intro img{
	position:relative;
	width:653px;
}

#content{
	display:table;
}

#maincontent{
	display:table-cell;
	width:100%;
	padding-right:22px;
}

aside{
	display:table-cell;
	width:300px;
}

.blogpost header p, .blogspot header p a{
	font-size:14px;
	font-style:italic;
	color:#777;
}

	.blogpost header p a:hover{
		text-decoration:none;
		color:#000;
	}

.blogpost div{
	/* Column-count not implemented yet*/
	-moz-column-count: 2;
	-webkit-column-count: 2;
	
	/*Column-gap not implemented yet */
	-moz-column-gap: 22px;
	-webkit-column-gap:22px;
}

.blogpost img{
	margin:22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

#coments{
	margin-top:21px;
	padding-top:22px;
	border-top:1px solid #d7d7d7;
}

	#coments article{
		display:table;
		padding:22px; 
	}
	
	#coments article:nth-child(odd){
		padding:21px;
		background:#e3e3e3;
		border:1px solid #d7d7d7;
		-moz-border-radius:11px;
		-webkit-border-radius:11px;
	}
	
	#coments article header{
		display:table-cell;
		width:220px;
		padding-right:22px;
	}
	
	#coments article header a{
		display:block;
		font-weight:bold;
		color:#000;
	}
	
	#coments article header a{
		display:block;
		font-weight:bold;
		color:#000;
	}
	
		#coments article header a:hover{
			text-decoration:none;
		}
	
	#coments article p{
		padding: 0;
	}
	
form{
	margin-top: 21px;
	padding-top:22px;
	border-top: 1px solid #d7d7d7;
}
	
	form p{
		display:table;
		margin-bottom:22px;
		padding: 0 22px;
	}
	
	form label{
		display: table-cell;
		width:140px;
		padding-right:20px;
		text-align:right;
		font-weight:bold;
		vertical-align:top;
	}
	
	font input[type="text"], form input[type="email"], form input[type="url"]{
		display: table-cell;
		width:300px;
		height:20px;
		border:1px solid #d7d7d7;
	}
	
	form textarea{
		width:300px;
		height:100px;
		border:1px solid #d7d7d7;
	}
	
	form input[type="submit"]{
		margin-left:162px;
	}
	
	aside section{
		margin:22px 0 0 22px;
		padding: 11px 22px;
		background: url("../img/sidebar_section_background.png") repeat-x;
		
		/* Border-radius not implemented yet*/
		-moz-border-radius:11px;
		-webkit-border-radius:11px;
	}
		
		aside section ul{
			margin: 0 0 0 22px;
			list-style:none
		}
		
		aside section ul li a{
			display:block;
			text-decoration:none;
			color#000;
		}
			
			aside section ul li a:hover{
				text-decoration:underline;
			}
	
	footer{
		position:absolute;
		left:0;
		width:100%;
		background:#222;
	}
		
		footer div{
			display:table;
			margin:0 auto;
			padding:44px 0;
			width: 940px;
			color:#777;
		}
		
		footer div section{
			display: table-cell;
			width:300px;
		}
			
			footer div #about, footer div #blogroll{
				padding-right:20px;
			}
		
		footer h3{
			color:#fff;
		}
		
		footer a{
			color:#999;
		}
		
		footer a:hover{
			color:#fff;
			text-decoration:none;
		}
		
		footer ul{
			margin:0 0 0 40px;
			list-style:square;
			color:#565656;
		}
		
			footer ul li a{
				display:block;
			}